{% extends 'base.html'%}
{% block content %}

<div class="row">
<div id="side-bar" class="col-md-6">
         <div class="col-xs-12">
                <button class='btn btn-default btn-block'><a href="#"> maps</a></button><br>
                 </div>
                 <div class="col-xs-12">
         <button id='btnLocate' class='btn btn-info btn-block'>where am I?.</button><br>
         <button id='report' class='btn btn-danger btn-block'>report.</button><br>

        </div>
     </div>

    </div>
     <div id="mapdiv" class="col-md-12"></div>
    


{% endblock %}